# -*- python -*-
# ex: set filetype=python:

import os
import sys

import six

from buildbot.plugins import *

if six.PY2:
    PB_PORT = os.environ['PY2_PB_PORT']
    WWW_PORT = os.environ['PY2_WWW_PORT']
elif six.PY3:
    PB_PORT = os.environ['PY3_PB_PORT']
    WWW_PORT = os.environ['PY3_WWW_PORT']

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [
    worker.Worker("source-add", "pass"),
    worker.Worker("source-full-clean", "pass"),
    worker.Worker("source-full-clobber", "pass"),
    worker.Worker("source-full-copy", "pass"),
    worker.Worker("source-full-fresh", "pass"),
    worker.Worker("source-incremental", "pass"),
]

c['protocols'] = {'pb': {'port': PB_PORT}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

c['change_source'] = [
]

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = [
    schedulers.ForceScheduler(
        name="force-git-full-fresh",
        builderNames=["git-full"],
    )
]

####### BUILDERS

git_full_fresh = util.BuildFactory()
factory = util.BuildFactory()
# check out the source
factory.addStep(steps.Git(repourl='git://github.com/buildbot/pyflakes.git', mode='incremental'))
# run the tests (note that this will require that 'trial' is installed)
factory.addStep(steps.ShellCommand(command=["trial", "pyflakes"]))

c['builders'] = [
    util.BuilderConfig(
        name="git-full",
        workernames=["source-full-fresh"],
        factory=factory
    ),
]

####### PROJECT IDENTITY

c['title'] = "Buildbot Source Step Python %d test" % sys.version_info.major
c['titleURL'] = "https://github.com/buildbot/buildbot"
c['buildbotURL'] = "http://localhost:%s/" % WWW_PORT
c['www'] = dict(port=WWW_PORT,
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))
# Don't report anything from the container.
c['buildbotNetUsageData'] = None

####### DB URL

c['db'] = {
    'db_url' : "sqlite:///state.sqlite",
}
